<%- include('./layout/Header') %>
<header>
    <div class="container">
        <a href="/" class="logo">EXPRESS<span class="green-txt">DIARY</span></a>

        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/About">About</a></li>
                
            </ul>
        </nav>
    </div>
</header>
        <div class="showcase">
            <h1>About<span class="green-text">  Express diary</span> </h1>
            <br>
            <p>A simple Application made with Express</p>
            <p>V1.0</p>
        </div>
        <%- include('./layout/Footer') %>